<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web.Security</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-minty.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Web.Security</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-area="" asp-controller="Users" asp-action="UserInformation">User Information</a></li>
                    <li role="presentation" class="active">
                        <form method="post" asp-controller="Security" asp-action="Logout">
                            <button type="submit" class="btn btn-primary">Sign Out</button>
                        </form>
                    </li>
                }
                else
                {
                    <li><a asp-controller="Security" asp-action="Login">Sign In</a></li>
                }
            </ul>
        </div>
    </div>
</nav>

<partial name="_CookieConsentPartial"/>

<div>
    @RenderBody()

    <hr/>
    <footer>
        @if (Context.User.Identity.IsAuthenticated)
        {
            <p>
                @Context.User.Identity.Name (<a asp-controller="Security" asp-action="Logout">Logout</a>)
            </p>
        }
        else
        {
            <p>
                <a asp-controller="Security" asp-action="Login">Signin</a>
                |
                <a asp-controller="Security" asp-action="Register">Register</a>
                |
                <a asp-controller="Security" asp-action="ForgotPassword">Forgot Password</a>
            </p>
        }
    </footer>
</div>


@RenderSection("Scripts", required: false)
</body>
</html>
